<div class="profile-content">
    <!-- <div class="create-profile-button">
        <button class="btn btn-primary btn-md">create profile</button>
    </div> -->
    <div class="edit">

    </div>
    <div class="text-center profile-img">
        <img src="./../../../assets/image/flow.jfif" class="rounded pic" alt="...">
        <div class="userName">
            <h5>Deepak kumar yadav</h5>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="card-body">
                <h6 class="card-title">Employee ID</h6>
                <small>This is a wider</small>
            </div>
            <div class="card-body">
                <h6 class="card-title">Email ID</h6>
                <small>deepak.kumar3th@gmail.com</small>
            </div>
        </div>
    </div>
</div>